{%extends 'base.html' %}
{% load cms_tags %}
{% load i18n %}
{%block content %}
{% include "snipcart.html" %}
{% placeholder "product" %}
<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>  {{text}}  </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
            {%for c in cat %}
                <div class="col-sm-offset-1 col-md-3 col-sm-6" >
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="data:image/png;base64,{{c.image_medium}}" alt="">
                        </div>
                        <h2><a href="{% url 'rpc:single' pk=c.id name=c.name list_price=c.list_price image=c.image_medium description=c.description  %}">{{c.name}}</a></h2>
                        <div class="product-carousel-price">
                            <ins>{{c.list_price}}</ins> 
                        </div>  
                        
                        <div class="product-option-shop">
                                                                    {% if user.is_authenticated %}
                                        <button class="snipcart-add-item"
                                         type="submit">
                                        {%placeholder "shop"%}</button>
                                        {%else%}
                                        <button class="snipcart-add-item"
                                        data-item-id="1"
                                        data-item-name="{{name}}"
                                        data-item-price="{{list_price}}"
                                        data-item-url="http://5ea5792a.ngrok.io/fr/all_products/"
                                        data-item-description="{{descr}}" type="submit">
                                        {% trans 'Add to cart' %}</button>
                                        {%endif%}
                        </div>                       
                    </div>
                </div>
                {%endfor%}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          {% if cat.has_other_pages %}
								  <ul class="pagination">
								    {% if cat.has_previous %}
								      <li><a href="?page={{ cat.previous_page_number }}">&laquo;</a></li>
								    {% else %}
								      <li class="disabled"><span>&laquo;</span></li>
								    {% endif %}
								    {% for i in cat.paginator.page_range %}
								      {% if cat.number == i %}
								        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
								      {% else %}
								        <li><a href="?page={{ i }}">{{ i }}</a></li>
								      {% endif %} 
								    {% endfor %}
								    {% if cat.has_next %}
								      <li><a href="?page={{ cat.next_page_number }}">&raquo;</a></li>
								    {% else %}
								      <li class="disabled"><span>&raquo;</span></li>
								    {% endif %}
								  </ul>
								{% endif %}            
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>


{%endblock content%}